/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}a
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* select normalize css */

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
* Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*Mobile First Style*/

body, html {
  background-color: White;
  font-family:"Segoe UI", Helvetica, Tahoma, sans-serif;
  color: black;
	text-align: center;
	background-color: #f0f8ff;
}
/*Minor Third Modular Scale*/

h1{
  font-size: 27.648px;
	font-weight: bold;
}
h2{
  font-size: 23.04px;
	font-weight: bold;
}
h3{
  font-size: 19.2px;
	font-weight: bold;
}
p{
  font-size: 16px;
}

/*Navigation Bar Styling*/

.nav {
  width: 100%;
  position: static;
  background-color: #292929;
  text-align: right;
  top:0;
  z-index: 99999;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #292929;
  display: inline-block;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.nav li {
  float: left;
  font-size: 1.2em;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
}

.nav a:hover {
  background-color: #3399ff;
}

.nav a:active {
  background-color: #003366;
}

/*Logo CSS*/

#logo{
	background-color: white;
	padding: 0px 0 0px 0;

}

#EWB{
	width: 96%;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 2%;
	margin-right: auto;
	position: absolute;
}

#classroom{
	width: 100%;
}

/*Class Info CSS*/

.classInfo{
	background-color: ;
	text-align: center;
	padding: 20px 0 20px 0;
	width: 95%;
	margin: auto;
	margin-top: 10%;
	margin-bottom: 10%;
	display: block;
	border-radius: 50px;
	border-style: none;
	background-color: #b0e0e6;
	color: Black;
	box-shadow: 0 4px 8px;
}

.flag{
	width: 20%;
}

.classInfo > h1{
	margin-top: 5%;
	margin-bottom: 5%;
}

.classInfo > p{
	margin-top: 5%;
	margin-bottom: 5%;
}

.button{
	background-color: #003366;
	border-style: none;
	color: white;
	border-radius: 20px;
}

/*About Page*/

#aboutLogo{
	margin: auto;
	width: 100%;
	margin-top: 8%;
	margin-bottom: 4%;
}

#summary{
	width: 85%;
	margin: auto;
}

#summary > p{
	margin-top: 5%;
	margin-bottom: 3%;
}

#pres{
	border-top-style: solid;
	border-top-color: gray;
	border-top-width: 1px;
	margin-top: 20%;
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 5%;
}

#ceo{
	border-top-style: solid;
	border-top-color: gray;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: gray;
	border-bottom-width: 1px;
	margin-top: 10%;
	margin-bottom: 20%;
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 5%;
	padding-bottom: 5%;
}

.staff > h1{
	margin-top: 5%;
	margin-bottom: 5%;
}

.staff > h3{
	margin-top: 5%;
	margin-bottom: 5%;
}


.staff{
	margin-top: 5%;
	margin-bottom: 5%;
}

/*Sign-Up Page*/

#signup{
	background-image: url("../media/board.jpg");
	background-size: 100%;
	background-repeat: repeat;
}

#title{
	font-family: 'Roboto', sans-serif;
	margin-top: 40px;
	margin-bottom: 30px;
	color: #3399ff;
}

input{
  width: 96%;
  padding: 12px 20px;
  margin: 10px 0;
  border: 1px solid black;
  border-radius: 12px;
  box-sizing: border-box;
	font-weight: bold;
	border-style: none;
	background-color: #dddddd;
}

#register{
	color: white;
	background-color: #222222;
}

#container{
  text-align: center;
	width: 96%;
  margin: auto;
  margin-top: 20%;
  margin-bottom: 40%;
  box-sizing: border-box;
  background-color: white;
	border-style: solid;
	border-radius: 25px;
	border-color: black;
	border-width: 1px;
	box-shadow: 0 14px 28px;
}

/*Footer CSS*/

footer{
  background-color: #404040;
  color: white;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

footer p {
  padding-bottom: 10px;
	margin: 0 2% 0 2%;
}

/*Medium Screens*/
@media screen and (min-width: 768px){
	#EWB{
		width: 70%;
		margin-top: 40px;
		margin-bottom: 40px;
		margin-left: 15%;
	}

	.nav li {
	  font-size: 1.44em;
	}

	.nav li a {
	  padding: 16px 20px;
	}

	h1{
		font-size: 33.178px;
	}

	h2{
	  font-size: 27.648px;
	}

	h3{
	  font-size: 23.04px;
	}

	p{
	  font-size: 19.2px;
	}

	.button, #register{
		width: 50%;
	}

	.classInfo{
		width: 80%;
		margin-top: 15%;
		margin-bottom: 15%;
	}

	.classInfo > p{
		width: 85%;
		margin-left: auto;
		margin-right: auto;
	}

	#title{
		margin-top: 60px;
		margin-bottom: 40px;
	}

	input{
		width: 94%;
	  margin: 12px 0;
	  padding: 14px 20px;
	}

	#container{
		width: 75%;
		margin-top: 20%;
		margin-bottom: 30%;
	}

	#aboutLogo{
		width: 95%;
		margin-top: 7%;
		margin-bottom: 3%;
	}

	#summary{
		width: 80%;
	}

	#summary > p{
		margin-top: 5%;
		margin-bottom: 2%;
	}

	#pres{
		margin-top: 13%;
	}

	footer{
		padding-top: 40px;
		padding-bottom: 30px;
	}
}

/*Desktop Screens or Larger*/

@media screen and (min-width: 1024px){

	#EWB{
		width: 60%;
		margin-top:  60px;
		margin-bottom: 50px;
		margin-left: 20%;
	}

	.nav li {
	  font-size: 1.728em;
	}

	.nav li a {
	  padding: 20px 26px;
	}

	h1{
		font-size: 39.813px;
	}

	h2{
		font-size: 33.178px;
	}

	h3{
	  font-size: 27.648px;
	}

	p{
	  font-size: 23.04px;
	}

	.button, #register{
		width: 30%;
		padding: 20px 0 20px 0;
	  font-size: 23.04px;
	}

	.classInfo{
		width: 60%;
	}

	#title{
		margin-top: 70px;
		margin-bottom: 50px;
	}

	input{
		width: 90%;
	  padding: 12px 20px;
	}

	#container{
		width: 50%;
		margin-top: 10%;
		margin-bottom: 20%;
	}

	#aboutLogo{
		width: 75%;
	}

	#summary{
		width: 80%;
	}

	#pres{
		margin-top: 10%;
	}
}
